<section>
  <div class='contact'>
    <a href='mailto:keighty.leonard@gmail.com?Subject=Hello!' rel='tooltip' title='keighty.leonard@gmail.com'><i class="fa fa-envelope fa-3x"></i></a>
    <a href='http://twitter.com/KeightyLeonard' title='@KeightyLeonard'><i class="fa fa-twitter fa-3x"></i></a>
    <a href='http://github.com/keighty' title='github.com/keighty'><i class="fa fa-github fa-3x"></i></a>
    <a href='http://linkedin.com/in/katieleonard' title='linkedin/katieleonard'><i class="fa fa-linkedin fa-3x"></i></a>
  </div>
</section>